@(price: List[Price])

@main("Add") {

    @navbar("add")

    <div class="container main-content">
        <h2 class="text-center">Add new computer</h2>
        <form class="@routes.Compyuters.add()" method="post">
            <div class="form-group">
                <label for="inp-cpu">cpu</label>
                <textarea type="text" class="form-control" id="inp-cpu"
                name="cpu" required=""></textarea>
            </div>
            <div class="form-group">
                <label for="inp-mode">Mode</label>
                <input type="text" class="form-control" id="inp-mode"
                name="mode" required="">
            </div>
            <div class="form-group">
                <label for="inp-mode">Mode</label>
                <select name="mode" class="form-control" id="inp-mode">
                    @for(price <- price){
                    <option value="@price.id">@price.mode</option>
                }

                </select>
            </div>
            <button type="submit" class="btn btn-primary">Submit</button>
        </form>
    </div>
}
