@(activePage: String)
<html>
    <div class="panel panel-default">
        <div class="panel-heading">
            <div id="service" class="carousel slide" data-ride="carousel" data-interval="3000">
                <div class="carousel-inner">
                    <div class="item active"><img class="center-block thumbnail"
                    style="width : 200 px ; height : 200 px"
                    src="@routes.Assets.at("images/sevice1.jpg")" alt="image"/>
                    </div>
                    <div class="item"><img class="center-block thumbnail" style="width : 200 px ; height : 200 px"
                    src="@routes.Assets.at("images/servi.jpg")" alt=""/>
                    </div>
                    <div class="item"><img class="center-block thumbnail" style="width : 200 px ; height : 200 px"
                    src="@routes.Assets.at("images/router-wifi.jpg")" alt=""/>
                    </div>
                </div>
            </div>
        </div>
    </div>
</html>