@(compyuters: List[CompyuterForDisplay])
@main("List") {
@navbar("list")
    <div class="container">
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>Mode</th>
                    <th>CPU</th>
                    <th>Mode</th>
                    <th>Action</th>
                </tr>
            </thead>
            <tbody>
            @for(comp <- compyuters ){
                <tr>
                    <td>@comp.compyuter.mode</td>
                    <td>@comp.compyuter.cpu</td>
                    <td>@comp.compyuter.mode</td>
                    <td>
                        <a href="@routes.Compyuters.showEditForm(comp.compyuter.id.get)">
                            <button class="btn btn-danger">Edit</button>
                        </a>
                        <a href="@routes.Compyuters.remove(comp.compyuter.id.get)">
                            <button class="btn btn-danger">Delete</button>
                        </a>
                    </td>
                </tr>
            }
            </tbody>
        </table>
    </div>
}