@(activePage: String)
<div class="panel panel-default">
    <div class="panel-heading">
        <legend>
            <span style="color : #269abc">Registration and Log in</span>
        </legend>
        <input class="form-control" type="text" placeholder="E-mail">
        <br>
        <input class="form-control" type="password" placeholder="password">
        <br>
        <button class="btn btn-block" type="button" style="background-color : #285e8e ; color : #449d44"><strong>
            Log in</strong></button>
        <br>
        <a href="#" class="pull-left">registration</a>
        <a href="#" class="pull-right">Forgot password?</a>
        <br>
    </div>
</div>
